<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container" style="horiz-align: center">
    <div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>account_id</th>
                <th>role_id</th>
                <th>user_name</th>
                <th>user_description</th>
                <th>update_time</th>
                <th>__deleted</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${sourceList}">
                <td th:text="${account.accountId}"></td>
                <td th:text="${account.roleId}"></td>
                <td th:text="${account.userName}"></td>
                <td th:text="${account.userDescription}"></td>
                <td th:text="${account.updateTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
    </div>
    <div>
        <div th:replace="fragments/bodyHeader2 :: bodyHeader" />
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>account_id</th>
                    <th>role_id</th>
                    <th>user_name</th>
                    <th>user_description</th>
                    <th>update_time</th>
                    <th>__deleted</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${sinkList}">
                    <td th:text="${account.accountId}"></td>
                    <td th:text="${account.roleId}"></td>
                    <td th:text="${account.userName}"></td>
                    <td th:text="${account.userDescription}"></td>
                    <td th:text="${account.updateTime}"></td>
                    <td th:text="${account.deleted}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="fragments/footer2 :: footer" />
    </div>
</div> <!-- /container -->
</body>
</html>