<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container" style="horiz-align: center">
    <div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>account_id</th>
                <th>role_id</th>
                <th>user_name</th>
                <th>user_description</th>
                <th>update_time</th>
            </tr>
            </thead>
            <tbody style="text-align: center;">
                <tr th:each="account : ${sourceList}">
                    <td th:text="${account.accountId}"></td>
                    <td th:text="${account.roleId}"></td>
                    <td th:text="${account.userName}"></td>
                    <td th:text="${account.userDescription}"></td>
                    <td th:text="${account.updateTime}"></td>
                    <td>
                        <form th:action="@{/account/delete(id=${account.accountId})}" method="post">
                            <button type="submit" class="btn btn-danger" >DELETE</button>
                        </form>
                    </td>
                    <td>
                        <div style="text-align: center">
                            <a th:href="@{/account/{id}/edit (id=${account.accountId})}" style="align-content: center"><button class="btn btn-primary" >UPDATE</button></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center">
            <a href="/account-form" style="align-content: center"><button class="btn btn-primary" >INSERT</button></a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
    </div>
    <div>
        <div th:replace="fragments/bodyHeader2 :: bodyHeader" />
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>account_id</th>
                    <th>role_id</th>
                    <th>user_name</th>
                    <th>user_description</th>
                    <th>update_time</th>
                    <th>__deleted</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${sinkList}">
                    <td th:text="${account.accountId}"></td>
                    <td th:text="${account.roleId}"></td>
                    <td th:text="${account.userName}"></td>
                    <td th:text="${account.userDescription}"></td>
                    <td th:text="${account.updateTime}"></td>
                    <td th:text="${account.deleted}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="fragments/footer2 :: footer" />
    </div>
</div> <!-- /container -->
</body>
</html>